<ion-content>
  <div class="container_1">
    <div class="img_container">
      <img class="me" src="\..\assets\me.png">
    </div>
    <div class="info">
      Hi, my name is <br>
      <span class="name">Jack Diamond</span> <br>
      I am a Software Engineering Intern and student studying Computer Science
      at University of Nevada, Reno. <br> I currently work on developing full stack
      applications using modern technologies.
      <br>
      <span class="logos">
        <ion-icon name="logo-linkedin"></ion-icon>
        <span style="display:inline-block; width: 10px;"></span>
        <ion-icon name="logo-github"></ion-icon>
      </span>
    </div>
  </div>
  <div class="container_2">
    <span class="title_2">Skills Overview</span>
    <div>
      Here are the languages and technologies I have used to develop full stack
      applications over my internships and college career.
      Want to know more? Check out my resume and projects.
    </div>

  </div>
</ion-content>
