* {
  margin: 0;
  padding: 0;
}
ion-content {
  width: 100%;
}
.container_1 {
  width: 100%;
  background-color: #5BA3EF;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.img_container {
  padding: 30px 30px 30px 330px;
  text-align: end;
  flex-grow: 0;
  flex-shrink: 0;
}

.img_container img {
  width: 200px;
  height: 200px;
}

.info {
  text-align: start;
  color: white;
  padding: 0;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.name {
  font-size: 48px;
  line-height: 1.3;
}

.logos {
  font-size: 32px;
  line-height: 2.2;
}

.container_2 {
  background-color: #F7F8FA;
  margin: 0 auto;
  text-align: justify;
  width: 35em;
}

.title_2 {
  text-align: center;
  background-color: #F7F8FA;
  font-size: 24px;
  font-weight: 200;
  padding-top: 20px;
}

.continued {
  background-color: #F7F8FA;
  margin: 0 auto;
  text-align: center;
  width: 35em;
}