ion-header, ion-content {
    --ion-background-color: #f5f3ef;
}

ion-col {
    text-align: center;
}

.myinfo {
    padding-top: 20px;
    line-height: 175%;
    text-align: center;
}

.profile {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

.links {
    padding-top: 20px;
    text-align: center;
    line-height: 200%;
    ion-icon {
        font-size: 32px;
    }
}

.picture {
    text-align: center;
    padding-top: 80px;
    
}

a {
    color: inherit;
}